---
title: Discord themes & plugins!
description: Free quality Themes and Plugins for Discord and easy installation instructions for BetterDiscord and more!
hero: Discord Plugins
subtitle: Custom JS plugins made by our commuity!
layout: default
---

<div class="content" id="plugins">
	<section>
		<div class="container">
			<h2>Plugins ({{ site.pluginss | size }})</h2>
			<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_products" class="btn"><strong>&#9998;</strong> Manage products</a></p>
			<ul class="product-list">
				{% for plugins in site.pluginss %}
					<li>
						<div class="styles">
						<!-- {% include product-styles.html product=plugins %} -->
						<div class="product-details">
							<h4><a href="{{ plugins.url }}">{{ plugins.title }}</a></h4>
							<h5>by <b>{{ plugins.author }}</b></h5>
							<div class="product-description">
								{{ plugins.description_markdown | truncate: 150 | markdownify }}
							</div>
							{% if plugins.price == nil %}
							{% else %}
							<p>${{ plugins.price }}</p>
							{% endif %}
							<div class="button-wrapper flex-row">
								<div class="button flex-button">
									<a href="{{ plugins.download }}" target="blank">Download</a>
									<a href="{{ plugins.support }}" target="blank">Support</a>
								</div>
							</div>
						</div>
						</div>
					</li>
				{% endfor %}
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</section>
</div>
<a href="https://github.com/MrRobotjs/BetterDocs/edit/master/_pluginss/_defaults.md">
	<div class="upload-button-container">
		<div class="upload-btn">
			<span>+</span> Upload Plugin
		</div>
	</div>
</a>