---
title: Discord themes & plugins!
description: A list of free and paid high quality themes made by our community. For the past 3 years we have been the #1 go to website for all Discord themes!
hero: Discord Themes
subtitle: Custom CSS themes made by our commuity!
layout: default
---

<div class="content" id="products">
	<section>
		<div class="container">
			<h2>Themes</h2>
			<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_products" class="btn"><strong>&#9998;</strong> Manage products</a></p>
			<ul class="product-list">
				{% for theme in site.themes %}
					<li>
						<div class="styles">
						{% include product-styles.html product=theme %}
						<div class="product-details">
							<h4><a href="{{ theme.url }}">{{ theme.title }}</a></h4>
							<div class="product-description">
								{{ theme.description_markdown | truncate: 45 | markdownify }}
							</div>
							{% if theme.price == nil %}
							{% else %}
							<p>${{ theme.price }}</p>
							{% endif %}
						</div>
						</div>
					</li>
				{% endfor %}
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</section>
</div>
<a href="https://github.com/MrRobotjs/BetterDocs/edit/master/_themes/_defaults.md">
<div class="upload-button-container">
	<div class="upload-btn">
		<span>+</span> Upload Theme
	</div>
</div>
</a>