.card-container.flex-row {
    @media #{$above-tablet} {
        display: flex;
    }
}
.hero.flex-row {
    @media #{$above-tablet} {
        display: flex;
    }
}

.product-container {
    .product-details {
        @media #{$above-tablet} {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: unset;
        }
    }
}